/* RESET */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Ubunto', sans-serif;
}

a {
    display: inline-block;
}

.padrao {
    background-color: rgb(240, 238, 238);
    color: #000;
    border-radius: 10px;
    margin: 2vh 0;
}

/* Aqui começa de fato */

.div-centralizar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    margin: 2vh 0 0;
    
}

.nav-bar ul {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.nav-bar li {
    padding: 5px;
}

.nav-bar a {
    padding: 5px;
    color: #000;
    font-size: 20px;
}

.nav-bar a:hover {
    color: rgb(104, 96, 96);
}

/* CONTEÚDO EU */

.div-conteudo-eu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.img-eu {
    border-radius: 100px;
    height: 200px;
}

.img-eu:hover {
    transform: scale(1.2);
    transition: 1s;
}

.div-conteudo-eu h1 {
    margin: 20px 0;
}

.conteudo {
    width: 80%;
    margin: 0 auto;
}

/* GALERIA */

.div-galeria {
    height: 175vh;
    width: 100%;
    text-align: center;
    position: relative; 
}

.div-galeria h3 {
    font-weight: normal;
}

.div-galeria img {
    border-radius: 10px;
    margin: 10px;
    width: 400px;
}

.div-galeria p {
    font-size: 20px;
} 

.div-img-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.div-galeria li {
    margin-top: 70px;
    background-color: #fff;
    border-radius: 10px;
}

.div-galeria li:hover {
    transform: scale(1.5);
    transition: 2s;
    background-color: rgb(107, 104, 104);
    color: #fff;
}

.div-galeria a {
    padding: 30px;
}

.div-galeria li a {
    padding: 0;
}

/* MiNHAS HABILIDADES */

.titulo-center {
    text-align: center;
}

.titulo-center a {
    padding-top: 30px;
}

.div-skills {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div-list-skills {
    width: 90%;
    height: 50%;
    margin-top: 5vh;
    padding: 30px;
    
}

.div-list-skills ul {
    display: flex;
    height: 100%;
}

.div-list-skills li {
    flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
	width: 100%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 10px 5px;
	box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    
}

.div-list-skills li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.div-list-skills img {
    padding: 10px;
}

.dominio {
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: #000;
    margin-top: 30px;
}

.soft-skills {
    margin-top: 40px;
}

.soft-skills h2 {
    text-align: center;
}

.soft-skills ul {
    margin-top: 30px;
}

/* FORMAÇÃO */

.div-formacao {
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.div-formacao h2 a {
    display: inline-block;
    padding-top: 30px;
}

.formacao {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
    padding-top: 15px;
}

.formacao ul {
    width: 40%;
    margin: 0 15px;
    align-items: flex-start;

}

.h3-titulo-lista {
    width: 40%;
    text-align: center;
    font-weight: 600;
    margin: 15px 0;
}

/* FORMULÁRIO */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.div-formulario {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
}

.div-formulario h2 {
    text-align: center;
}

.div-formulario a {
    padding-top: 30px;
}

.div-formulario label {
    display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
    display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
    width: 50%;
    border-style: none;
    border-radius: 5px;
}

.btn-form {
    text-transform: uppercase;
	width: 40%;
	padding: 10px 0;
	background: orange;
	color: white; 
	font-size: 20px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
    cursor: pointer;
}

.btn-form:hover {
	transform: scale(1.1);
}

/* FOOTER */

.div-rodape {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    margin: 0 0 2vh 0;
}

.div-rodape ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div-rodape li {
    margin: 0 30px;
}

footer {
    width: 100%;
    text-align: center;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rodape {
    margin-top: 20px;
}
/* SITE GALERIA */

.margin-div {
    margin: 30px;
}

.div-site-galeria {
    height: 385vh;
    width: 100%;
    text-align: center;
    margin: 2vh 0;
    position: relative; 
}

.div-site-galeria a{
    padding: 30px;
}

.p-titulo {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.div-site-galeria ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-site-galeria li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div-site-galeria img {
    border-radius: 10px;
    margin: 10px;
    width: 700px;
}

.div-site-galeria ul p {
    font-size: 20px;
    width: 300px;
    text-align: left;
}

#div-galeria2 {
    height: 440vh;
}

#div-galeria3 {
    height: 220vh;
}